<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Profile Page
		</title>
	
	
	</head>

		<body>
			<ul>
				<li>
					User Name:  <%=@user.username%>
				</li>
				<li>
					First Name:  <%=@user.fname%>
				</li>
				<li>
					Last Name: <%=@user.lname%>
				</li>
				<li>
					Email Address:  <%=@user.email%>
				</li>
				<li>
					Location:  <%=@user.profile.city%>
				</li>
				<li>
					Alma Mater:  <%=@user.profile.school%>
				</li>
				<li>
					Interests:  <%=@user.profile.interests%>
				</li>

			</ul>

			<button>
				<a href="http://localhost:4567/create-post">Create New Post</a>
			</button>

			<div=Postlist>
				<%@user.posts.each do |post|%>
					<%=post.post_title%>
					<%=post.body%>
					<%=post.created_at%>
				<%end%>

		</body>

</html>