<DOCTYPE hmtl>
<html>
	<head>
		<title>
			Profile Page
		</title>
	
	
	</head>

		<body>
			<h3>
				<%=@user.username%>'s Profile Page
			</h3>

			<img src="/icon.jpg" alt="prof icon" />

			<ul div=profiletext>
				<li>
					<u class=ftitle>User Name:</u>  <b class=ftext><%=@user.username%><b/>
				</li>
				<li>
					<u class=ftitle>First Name:</u>  <b class=ftext><%=@user.fname%></b>
				</li>
				<li>
					<u class=ftitle>Last Name:</u> <b class=ftext><%=@user.lname%></b>
				</li>
				<li>
					<u class=ftitle>Email Address:</u>  <b class=ftext><%=@user.email%></b>
				</li>
				<li>
					<u class=ftitle>Location:</u> <b class=ftext> <%=@user.profile.city%> </b>
				</li>
				<li>
					<u class=ftitle>Alma Mater:</u>  <b class=ftext><%=@user.profile.school%></b>
				</li>
				<li>
					<u class=ftitle>Interests:</u>  <b class=ftext><%=@user.profile.interests%></b>
				</li>

			</ul>

			<button>
				<a href="http://localhost:4567/create-post">Create New Post</a>
			</button>
		</br>

			<div=Postlist>
				<%@user.posts.each do |post|%>
					<u class=ftitle> <%=post.post_title + ":      "%></u>
					<%=post.body%>
					<%=post.created_at%>
				</br>
				<%end%>

		</body>

</html>